   /* ESTILOS GLOBALES - RESOLUCION DESKTOP 1200PX */
   body {
    font-family: 'Merienda', cursive;
    background-color: #ECD8B1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

p {
    font-size: medium;
}

/* HEADER */
nav {
    background-color: #1E1E1E;
}

.navbar-logo img {
    width: 250px;
    height: 100px;
    object-fit: cover;
}

.nav-link {
    color: #BCA474;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #ecd8b1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.navbar-toggler {
    background-color: #BCA474;
}

/* MAIN */

main {
    background-color: #ECD8B1;
    color: black;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    transition: height 3s width 3s;
}

.whatsapp:hover {
    width: 120px;
    height: 120px;
}

.paddings {
    padding-top: 115px;
    padding-bottom: 30px;
}

/* FOOTER */

footer {
    background-color: #1E1E1E;
    width: 100%;
    color: #BCA474;
    font-size: small;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer img {
    width: 50px;
    margin: 5px;
    transition: height 3s width 3s;
}

footer img:hover {
    width: 65px;
    height: 65px;
}

.ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding-top: 17px;
}

.rrss {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 0px;
}

.icono {
    width: 25px;
}

.mediosContacto {
    padding-top: 10px;
    padding-left: 0px;
}

/* INDEX */

.portadaIndex {
    height: 670px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: miAnimacion;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-delay: 0s;
}

@keyframes miAnimacion {
    0% {
        background-image: url(../img/novios-serpentina-2-foto.png);
    }

    20% {
        background-image: url(../img/novios-caballos-1-foto.jpg);
    }

    40% {
        background-image: url(../img/novios-sentados-foto.jpg);
    }

    60% {
        background-image: url(../img/novios-pastel-foto.png);
    }

    80% {
        background-image: url(../img/sillas-blancas-foto.jpg);
    }

    100% {
        background-image: url(../img/novios-arbustos-foto.png);
    }
}


.descripcionIndex {
    margin-top: 20px;
}

.descripcionIndex h2 {
    padding-bottom: 10px;
}

.descripcionIndex h3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;
}

.imagenesAbajoIndex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;
}

.fotoIndex1 {
    width: 390px;
    height: 300px;
    padding-top: 10px;
    object-fit: cover;
}

.fotoIndex2 {
    width: 390px;
    height: 300px;
    padding-top: 10px;
    object-fit: cover;
}

.fotoIndex3 {
    width: 390px;
    height: 300px;
    padding-top: 10px;
    object-fit: cover;
}

.pideCotizacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}


/* SERVICIOS */
.mainServicios {
    padding-top: 150px;
    row-gap: 50px;
    column-gap: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 550px;
    grid-template-rows: 150px 150px 1fr;
    grid-template-areas:
        "portadaServicios explicacionServicios"
        "portadaServicios listaServicios"
        "portadaServicios pideCotiz";
    justify-content: space-evenly;
}

img .imagenServicios {
    margin-top: 10px;
}

.portadaServicios {
    grid-area: portadaServicios;
    padding-bottom: 10px;
    width: 550px;
}

.imagenServicios {
    width: 550px;
    height: 330px;
    margin-top: 20px;
    object-fit: cover;
    transition: transform 2s
}

.imagenServicios:hover {
    transform: rotatey(360deg);
}

.explicacionServicios {
    grid-area: explicacionServicios;
    font-size: x-large;
}

.listaServicios {
    grid-area: listaServicios;
    margin-top: 40px;
    list-style-type: circle;
}

.pideCotiz {
    grid-area: pideCotiz;
    display: flex;
    justify-content: start;
    align-content: center;
    margin-top: 40px;
}

ul, li {
  padding-left: 0px;
}

/* NOSOTROS */

.paddingNosotros {
    padding-top: 150px;
    margin-bottom: 30px;
}

.cardMision {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.cardVision {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.cardValores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.textoMision {
    width: 550px;
    height: 250px;
    padding-top: 30px;
}

.textoVision {
    width: 550px;
    height: 250px;
    padding-top: 40px;
}

.textoValores {
    width: 550px;
    height: 250px;
    padding-top: 20px;
}

.imagenMision {
    width: 550px;
    height: 250px;
    object-fit: cover;
    transition: transform 2s
}

.parrafoMision {
    font-size: large;
}

.parrafoVision {
    font-size: large
}

.parrafoValores {
    font-size: large;
}

.imagenMision:hover {
    transform: rotatey(360deg);
}

.imagenValores {
    width: 550px;
    height: 250px;
    object-fit: cover;
    transition: transform 2s
}

.imagenValores:hover {
    transform: rotatey(360deg);
}

.imagenVision {
    width: 550px;
    height: 250px;
    object-fit: cover;
    transition: transform 2s;
}

.imagenVision:hover {
    transform: rotatey(360deg);
}

/* BLOG */

.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 10px;
    margin: 20px
}

.cardBlog {
    width: 320px;
    height: auto;
    margin: 20px;

}

.imagenBlog {
    width: 320px;
    height: 250px;
    object-fit: cover;
}

/* CONTACTO */

.textoContactanos {
    margin-bottom: 15px;
    margin-left: 100px;
}

.paddingsContacto {
    margin-left: 400px;
    padding-top: 150px;
    padding-bottom: 40px;
}

.inputNombre {
    width: 350px;
    margin-bottom: 10px;
}

.inputApellido {
    width: 350px;
    margin-bottom: 10px;
}

.inputTelefono {
    width: 350px;
    margin-bottom: 10px;
}

.inputCorreo {
    width: 360px;
    margin-bottom: 10px;
}

.inputComentarios {
    width: 420px;
    margin-bottom: 10px;
}

.botonesForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 115px;
}

/* SERVICIOS RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
  .mainServicios {
      padding-top: 140px;
      row-gap: 50px;
      column-gap: 30px;
      margin-right: 35px;
      margin-left: 40px;
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr 140px 150px 0px;
      grid-template-areas:
          "portadaServicios"
          "explicacionServicios"
          "listaServicios"
          "pideCotiz";
      justify-content: space-around;
  }

  img .imagenServicios {
      margin-top: 10px;
  }

  .portadaServicios {
      grid-area: portadaServicios;
      padding-bottom: 10px;
      width: 700px;
  }

  .imagenServicios {
      width: 700px;
      height: 400px;
      margin-top: 20px;
      object-fit: cover;
      transition: transform 2s
  }

  .imagenServicios:hover {
      transform: rotatey(360deg);
  }

  .explicacionServicios {
      grid-area: explicacionServicios;
      font-size: x-large;
  }

  .listaServicios {
      grid-area: listaServicios;
      margin-top: 40px;
  }

  ul, li {
      padding-left: 0px;
  }

  .pideCotiz {
      grid-area: pideCotiz;
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 40px;
      color: black;
  }
}

/* SERVICIOS RESOLUCION MENOR A 320px */
@media screen and (max-width: 320px) {
  .mainServicios {
      padding-top: 140px;
      row-gap: 50px;
      column-gap: 30px;
      margin-top: 0px;
      margin-right: 30px;
      margin-left: 30px;
      margin-bottom: 0px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 320px 240px 120px 1fr;
      grid-template-areas:
          "portadaServicios"
          "explicacionServicios"
          "listaServicios"
          "pideCotiz";
      justify-content: space-around;
  }

  img .imagenServicios {
      margin-top: 10px;
  }

  .portadaServicios {
      grid-area: portadaServicios;
      padding-bottom: 10px;
      width: 300px;
  }

  .imagenServicios {
      width: 300px;
      height: 200px;
      margin-top: 20px;
      object-fit: cover;
      transition: transform 2s
  }

  .imagenServicios:hover {
      transform: rotatey(360deg);
  }

  .explicacionServicios {
      grid-area: explicacionServicios;
      font-size: large;
  }

  .listaServicios {
      grid-area: listaServicios;
      margin-top: 30px;
  }

  ul, li {
      padding-left: 0px;
  }

  .pideCotiz {
      grid-area: pideCotiz;
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 30px;
  }
}

/* BLOG RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
    .blog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 110px;
        padding-bottom: 10px;
        margin: 20px
    }

    .cardBlog {
        width: 700px;
        height: auto;
        margin: 20px;
    }

    .imagenBlog {
        width: 700px;
        height: 300px;
        object-fit: cover;
    }
  }

/* BLOG RESOLUCION MENOR A 320px */
@media screen and (max-width: 320px) {
    .blog {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 105px;
        padding-bottom: 0px;
        margin: 20px
    }

    .cardBlog {
        width: 300px;
        height: auto;
        margin: 20px;
    }

    .imagenBlog {
        width: 300px;
        height: 150px;
        object-fit: cover;
    }
}


/* NOSOTROS RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
    .paddingNosotros {
        padding-top: 110px;
        margin-bottom: 30px;
    }

    .cardMision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 20px;
    }

    .cardVision {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 20px;
    }

    .cardValores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 20px;
    }

    .textoMision {
        width: 700px;
        height: 180px;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    .textoVision {
        width: 700px;
        height: 190px;
        padding-bottom: 0px;
    }

    .textoValores {
        width: 700px;
        height: 190px;
        padding-bottom: 0px;
    }

    .imagenMision {
        width: 700px;
        height: 350px;
        object-fit: cover;
    }

    .imagenValores {
        width: 700px;
        height: 350px;
        object-fit: cover;
        margin-top: 25px;
    }

    .imagenVision {
        width: 700px;
        height: 350px;
        object-fit: cover;
    }
}

/* NOSOTROS RESOLUCION MENOR A 320px */
@media screen and (max-width: 320px) {
  .paddingNosotros {
      padding-top: 130px;
      margin-bottom: 30px;
  }

  .cardMision {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0px;
  }

  .cardVision {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 20px;
  }

  .cardValores {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 20px;
  }

  .textoMision {
      width: 300px;
      height: 180px;
      margin-bottom: 70px;
      padding-top: 20px;
  }

  .textoVision {
      width: 300px;
      height: 190px;
      padding-bottom: 0px;
  }

  .textoValores {
      width: 300px;
      height: 190px;
      padding-bottom: 0px;
  }

  .imagenMision {
      margin-top: 90px;
      width: 300px;
      height: 150px;
      object-fit: cover;
  }

  .imagenVision {
      width: 300px;
      height: 150px;
      object-fit: cover;
      margin-top: 60px;
  }
  
  .imagenValores {
      width: 300px;
      height: 150px;
      object-fit: cover;
      margin-top: 230px;
  }

}

/* INDEX RESOLUCION MENOR A 768 PX */
@media screen and (max-width: 768px) {
    .portadaIndex {
        min-height: 670px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-name: miAnimacion;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 15s;
        animation-delay: 0s;
    }

    @keyframes miAnimacion {
        0% {
            background-image: url(../img/novios-serpentina-2-foto.png);
        }

        20% {
            background-image: url(../img/novios-caballos-1-foto.jpg);
        }

        40% {
            background-image: url(../img/novios-sentados-foto.jpg);
        }

        60% {
            background-image: url(../img/novios-pastel-foto.png);
        }

        80% {
            background-image: url(../img/sillas-blancas-foto.jpg);
        }

        100% {
            background-image: url(../img/novios-arbustos-foto.png);
        }
    }

    .descripcionIndex {
        margin-top: 20px;
        padding-left: 24px;
    }

    .descripcionIndex h2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .descripcionIndex h3 {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .descripcionIndex p {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 10px;
    }

    .imagenesAbajoIndex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 24px;
        flex-wrap: wrap;
    }

    .fotoIndex1 {
        width: 720px;
        height: 600px;
        padding-top: 10px;
        object-fit: cover;
    }

    .fotoIndex2 {
        width: 720px;
        height: 600px;
        padding-top: 10px;
        object-fit: cover;
    }

    .fotoIndex3 {
        width: 720px;
        height: 600px;
        padding-top: 10px;
        object-fit: cover;
    }
}

/* INDEX RESOLUCION MENOR A 320PX*/
@media screen and (max-width: 320px) {
    .portadaIndex {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-left: 40px;
        animation-name: miAnimacion;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 15s;
        animation-delay: 0s;
    }

    @keyframes miAnimacion {
        0% {
            background-image: url(../img/novios-serpentina-2-foto.png);
        }

        20% {
            background-image: url(../img/novios-caballos-1-foto.jpg);
        }

        40% {
            background-image: url(../img/novios-sentados-foto.jpg);
        }

        60% {
            background-image: url(../img/novios-pastel-foto.png);
        }

        80% {
            background-image: url(../img/sillas-blancas-foto.jpg);
        }

        100% {
            background-image: url(../img/novios-arbustos-foto.png);
        }
    }

    .descripcionIndex {
        margin-top: 20px;
        padding-left: 24px;
    }

    .descripcionIndex h2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .descripcionIndex h3 {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .descripcionIndex p {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .imagenesAbajoIndex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 25px;
        flex-wrap: wrap;
    }

    .fotoIndex1 {
        width: 300px;
        height: 250px;
        padding-top: 10px;
        padding-right: 24px;
        object-fit: cover;
    }

    .fotoIndex2 {
        width: 300px;
        height: 250px;
        padding-top: 10px;
        padding-right: 24px;
        object-fit: cover;
    }

    .fotoIndex3 {
        width: 300px;
        height: 250px;
        padding-top: 10px;
        padding-right: 24px;
        object-fit: cover;
    }
}


/* FOOTER RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
    }

    footer img {
        width: 50px;
    }

    .rrss {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-right: 32px;
    }

    .icono {
        width: 25px;
    }

    .mediosContacto {
        padding-left: 20px;
    }
}

/* FOOTER RESOLUCION MENOR A 320px */
@media screen and (max-width: 320px) {
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-bottom: 30px;
    }

    footer img {
        width: 50px;
        padding-top: 20px;
    }

    ul .rrss {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-left: 50px;
    }

    .icono {
        width: 25px;
    }

    .mediosContacto {
        padding-left: 0px;
    }
}

/* CONTACTO RESOLUCION MENOR A 768PX */
@media screen and (max-width: 768px) {
    .textoContactanos {
        margin-bottom: 15px;
        margin-left: 100px;
    }

    .paddingsContacto {
        margin-left: 170px;
        padding-top: 150px;
        padding-bottom: 40px;
    }

    .inputNombre {
        width: 350px;
        margin-bottom: 10px;
    }

    .inputApellido {
        width: 350px;
        margin-bottom: 10px;
    }

    .inputTelefono {
        width: 350px;
        margin-bottom: 10px;
    }

    .inputCorreo {
        width: 360px;
        margin-bottom: 10px;
    }

    .inputComentarios {
        width: 425px;
        margin-bottom: 10px;
    }

    .botonesForm {
        padding-right: 0px;
        margin-left: 100px;
    }
}

/* CONTACTO RESOLUCION MENOR A 320PX */
@media screen and (max-width: 320px) {
    .textoContactanos {
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .paddingsContacto {
        margin-left: 20px;
        padding-top: 140px;
        padding-bottom: 40px;
    }

    .inputNombre {
        width: 280px;
        margin-bottom: 10px;
    }

    .inputApellido {
        width: 280px;
        margin-bottom: 10px;
    }

    .inputTelefono {
        width: 280px;
        margin-bottom: 10px;
    }

    .inputCorreo {
        width: 280px;
        margin-bottom: 10px;
    }

    .inputComentarios {
        width: 280px;
        margin-bottom: 10px;
    }

    .botonesForm {
        margin-right: 0px;
        margin-left: 110px;
    }
}

/* NAV (TOGGLER Y LOGO) RESOLUCION MENOR A 768PX */
@media screen and (max-width: 768px) {
  button,
  input,
  optgroup,
  select,
  textarea {
      margin-right: 20px;
  }
}

  /* NAV (TOGGLER Y LOGO) RESOLUCION MENOR A 320PX */
  @media screen and (max-width: 320px) {
      button,
      input,
      optgroup,
      select,
      textarea {
          margin-right: 10px;
      }
  
      .navbar-logo img {
          width: 150px;
          height: 100px;
          object-fit: cover;
          margin-left: 5px;
      }
    }