@charset "UTF-8";
.paddingsContacto .botonesForm, .h1Blog, .h1Nosotros, footer .rrss, .buttonServicios .buttonServiciosInterior, .buttonServicios, .buttonIndex .buttonIndexInterior, .buttonIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.descripcionIndex p, .descripcionIndex h3, .descripcionIndex h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

/* RESET - ESTILOS GLOBALES*/
body {
  font-family: "Merienda", cursive;
  background-color: #ECD8B1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body ul li {
  list-style-type: none;
}
body a {
  text-decoration: none;
}
body h1 {
  font-size: xx-large;
}
body h2 {
  font-size: x-large;
}
body h3 {
  font-size: large;
}
body p {
  font-size: medium;
}

/* TIPOGRAFIA */
body {
  font-family: "Merienda", cursive;
}

/* BUTTON WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  transition: height 3s width 3s;
}
.whatsapp:hover {
  width: 120px;
  height: 120px;
}

/* BUTTON INDEX */
.buttonIndex {
  margin-top: 15px;
  margin-bottom: 15px;
}
.buttonIndex .buttonIndexInterior {
  width: 220px;
  padding: 10px 25px;
  font-family: "Merienda", cursive;
  border-radius: 15px;
  border: #1E1E1E solid 5px;
  text-decoration: underline;
  color: #1E1E1E;
  background-color: #ECD8B1;
}

/* BUTTON SERVICIOS */
.buttonServicios .buttonServiciosInterior {
  width: 220px;
  padding: 10px 25px;
  font-family: "Merienda", cursive;
  border-radius: 15px;
  border: #1E1E1E solid 5px;
  text-decoration: underline;
  color: #1E1E1E;
  background-color: #ECD8B1;
}

/* HEADER/NAVBAR */
nav {
  background-color: #1E1E1E;
}
nav .navbar-logo img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
nav .navbar-toggler {
  background-color: #BCA474;
}
nav .nav-link {
  color: #BCA474;
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: #ECD8B1;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

/* MAIN */
main {
  background-color: #ECD8B1;
  color: #1E1E1E;
}

.paddings {
  padding-top: 115px;
  padding-bottom: 30px;
}

/* FOOTER */
footer {
  background-color: #1E1E1E;
  width: 100%;
  color: #BCA474;
  font-size: small;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .medioscontacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
footer dl, footer ol, footer ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
footer .ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
footer .icono {
  width: 25px;
}
footer img {
  width: 50px;
  margin: 5px;
  transition: height 3s width 3s;
}
footer img:hover {
  width: 65px;
  height: 65px;
}

/* INDEX */
.portadaIndex {
  height: 670px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation-name: miAnimacion;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-delay: 0s;
}

@keyframes miAnimacion {
  0% {
    background-image: url(../img/novios-serpentina-2-foto.png);
  }
  20% {
    background-image: url(../img/novios-caballos-1-foto.jpg);
  }
  40% {
    background-image: url(../img/novios-sentados-foto.jpg);
  }
  60% {
    background-image: url(../img/novios-pastel-foto.png);
  }
  80% {
    background-image: url(../img/sillas-blancas-foto.jpg);
  }
  100% {
    background-image: url(../img/novios-arbustos-foto.png);
  }
}
.descripcionIndex {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.descripcionIndex .imagenesAbajoIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
.descripcionIndex .imagenesAbajoIndex .fotoIndex1 {
  width: 385px;
  height: 300px;
  border-radius: 10%;
  margin-top: 15px;
  object-fit: cover;
}
.descripcionIndex .imagenesAbajoIndex .fotoIndex2 {
  width: 385px;
  height: 300px;
  border-radius: 10%;
  margin-top: 15px;
  object-fit: cover;
}
.descripcionIndex .imagenesAbajoIndex .fotoIndex3 {
  width: 385px;
  height: 300px;
  border-radius: 10%;
  margin-top: 15px;
  object-fit: cover;
}

/* SERVICIOS */
.mainServicios {
  padding-top: 150px;
  row-gap: 50px;
  column-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 550px 1fr;
  grid-template-rows: 150px 1fr auto;
  grid-template-areas: "portadaServicios explicacionServicios" "portadaServicios listaServicios" "portadaServicios buttonServicios";
  justify-content: space-evenly;
}
.mainServicios .portadaServicios {
  grid-area: portadaServicios;
  padding-bottom: 10px;
  width: 550px;
}
.mainServicios .portadaServicios .imagenServicios {
  width: 550px;
  height: 330px;
  border-radius: 10%;
  margin-top: 30px;
  object-fit: cover;
  transition: transform 2s;
}
.mainServicios .portadaServicios .imagenServicios:hover {
  transform: rotatey(360deg);
}
.mainServicios .explicacionServicios {
  grid-area: explicacionServicios;
  font-size: x-large;
}
.mainServicios .listaServicios {
  grid-area: listaServicios;
  margin-top: 40px;
  padding-left: 0;
}
.mainServicios .buttonServicios {
  grid-area: pideCotiz;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

/* NOSOTROS */
.h1Nosotros {
  padding-top: 150px;
}

.paddingNosotros {
  padding-top: 30px;
  margin-bottom: 30px;
}
.paddingNosotros .cardMision {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.paddingNosotros .cardMision .textoMision {
  width: 550px;
  height: 250px;
  padding-top: 30px;
}
.paddingNosotros .cardMision .parrafoMision {
  font-size: large;
}
.paddingNosotros .cardMision .imagenMision {
  width: 550px;
  height: 250px;
  border-radius: 10%;
  object-fit: cover;
  transition: transform 2s;
}
.paddingNosotros .cardMision .imagenMision:hover {
  transform: rotatey(360deg);
}
.paddingNosotros .cardVision {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.paddingNosotros .cardVision .imagenVision {
  width: 550px;
  height: 250px;
  border-radius: 10%;
  object-fit: cover;
  transition: transform 2s;
}
.paddingNosotros .cardVision .imagenVision:hover {
  transform: rotatey(360deg);
}
.paddingNosotros .cardVision .textoVision {
  width: 550px;
  height: 250px;
  padding-top: 40px;
}
.paddingNosotros .cardVision .parrafoVision {
  font-size: large;
}
.paddingNosotros .cardValores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.paddingNosotros .cardValores .textoValores {
  width: 550px;
  height: 250px;
  padding-top: 0px;
}
.paddingNosotros .cardValores .parrafoValores {
  font-size: large;
}
.paddingNosotros .cardValores .imagenValores {
  width: 550px;
  height: 250px;
  border-radius: 10%;
  object-fit: cover;
  transition: transform 2s;
}
.paddingNosotros .cardValores .imagenValores:hover {
  transform: rotatey(360deg);
}

/* BLOG */
.h1Blog {
  padding-top: 150px;
}

.blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 20px;
}
.blog .cardBlog {
  width: 320px;
  height: auto;
  margin: 20px;
}
.blog .cardBlog .imagenBlog {
  width: 320px;
  height: 250px;
  border-radius: 10%;
  object-fit: cover;
}

/* CONTACTO */
.paddingsContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 150px;
  padding-bottom: 40px;
}
.paddingsContacto .textoContactanos {
  margin-bottom: 20px;
}
.paddingsContacto .nombre {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.paddingsContacto .inputNombre {
  width: 390px;
  margin-bottom: 20px;
}
.paddingsContacto .apellido {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.paddingsContacto .inputApellido {
  width: 390px;
  margin-bottom: 20px;
}
.paddingsContacto .telefono {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.paddingsContacto .inputTelefono {
  width: 390px;
  margin-bottom: 20px;
}
.paddingsContacto .correo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.paddingsContacto .inputCorreo {
  width: 400px;
  margin-bottom: 20px;
}
.paddingsContacto .comentarios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.paddingsContacto .inputComentarios {
  width: 460px;
  margin-bottom: 20px;
}
/* INDEX RESOLUCION MENOR A 1024 PX */
@media screen and (max-width: 1024px) {
  .portadaIndex {
    min-height: 670px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation-name: miAnimacion;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-delay: 0s;
  }
  @keyframes miAnimacion {
    0% {
      background-image: url(../img/novios-serpentina-2-foto.png);
    }
    20% {
      background-image: url(../img/novios-caballos-1-foto.jpg);
    }
    40% {
      background-image: url(../img/novios-sentados-foto.jpg);
    }
    60% {
      background-image: url(../img/novios-pastel-foto.png);
    }
    80% {
      background-image: url(../img/sillas-blancas-foto.jpg);
    }
    100% {
      background-image: url(../img/novios-arbustos-foto.png);
    }
  }
  .descripcionIndex p {
    padding-left: 0px;
    padding-right: 10px;
  }
  .descripcionIndex .imagenesAbajoIndex {
    padding-bottom: 25px;
    flex-wrap: wrap;
  }
  .descripcionIndex .imagenesAbajoIndex .fotoIndex1 {
    margin-top: 15px;
    object-fit: cover;
  }
  .descripcionIndex .imagenesAbajoIndex .fotoIndex2 {
    margin-top: 15px;
    object-fit: cover;
  }
  .descripcionIndex .imagenesAbajoIndex .fotoIndex3 {
    margin-top: 15px;
    object-fit: cover;
  }
}
/* INDEX RESOLUCION MENOR A 768PX*/
@media screen and (max-width: 768px) {
  .portadaIndex {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 40px;
    animation-name: miAnimacion;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-delay: 0s;
  }
  @keyframes miAnimacion {
    0% {
      background-image: url(../img/novios-serpentina-2-foto.png);
    }
    20% {
      background-image: url(../img/novios-caballos-1-foto.jpg);
    }
    40% {
      background-image: url(../img/novios-sentados-foto.jpg);
    }
    60% {
      background-image: url(../img/novios-pastel-foto.png);
    }
    80% {
      background-image: url(../img/sillas-blancas-foto.jpg);
    }
    100% {
      background-image: url(../img/novios-arbustos-foto.png);
    }
  }
  .descripcionIndex .imagenesAbajoIndex {
    margin-bottom: 24px;
  }
  .descripcionIndex .imagenesAbajoIndex .fotoIndex1 {
    width: 300px;
    height: 250px;
    padding-top: 10px;
    object-fit: cover;
  }
  .descripcionIndex .imagenesAbajoIndex .fotoIndex2 {
    width: 300px;
    height: 250px;
    padding-top: 10px;
    object-fit: cover;
  }
  .descripcionIndex .imagenesAbajoIndex .fotoIndex3 {
    width: 300px;
    height: 250px;
    padding-top: 10px;
    object-fit: cover;
  }
}
/* SERVICIOS RESOLUCION MENOR A 1024px */
/* NOTA: LO ALARGUÉ HASTA 1148px DEBIDO A QUE EL BOTÓN YA SE ESTABA DESBORDANDO EN LA VERSIÓN DESKTOP*/
@media screen and (max-width: 1148px) {
  .mainServicios {
    padding-top: 140px;
    row-gap: 50px;
    column-gap: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 140px 190px auto;
    grid-template-areas: "portadaServicios" "explicacionServicios" "listaServicios" "buttonServicios";
    justify-content: space-around;
  }
  .mainServicios .portadaServicios {
    grid-area: portadaServicios;
    padding-bottom: 10px;
    width: 700px;
    height: auto;
  }
  .mainServicios .portadaServicios .imagenServicios {
    width: 700px;
    height: 450px;
    margin-top: 20px;
    object-fit: cover;
    transition: transform 2s;
  }
  .mainServicios .portadaServicios .imagenServicios:hover {
    transform: rotatey(360deg);
  }
  .mainServicios .explicacionServicios {
    grid-area: explicacionServicios;
    width: 700px;
    height: auto;
    font-size: x-large;
  }
  .mainServicios .listaServicios {
    grid-area: listaServicios;
    width: 700px;
    height: auto;
    margin-top: 40px;
    padding-left: 0;
  }
  .mainServicios .buttonServicios {
    grid-area: pideCotiz;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
/* SERVICIOS RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
  .mainServicios {
    padding-top: 140px;
    row-gap: 50px;
    column-gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 320px 90px auto;
    grid-template-areas: "portadaServicios" "explicacionServicios" "listaServicios" "buttonServicios";
    justify-content: space-around;
  }
  .mainServicios .portadaServicios {
    grid-area: portadaServicios;
    padding-bottom: 10px;
    width: 300px;
  }
  .mainServicios .portadaServicios .imagenServicios {
    width: 300px;
    height: 200px;
    margin-top: 15px;
    object-fit: cover;
    transition: transform 2s;
  }
  .mainServicios .portadaServicios .imagenServicios:hover {
    transform: rotatey(360deg);
  }
  .mainServicios .explicacionServicios {
    width: 300px;
    height: auto;
    grid-area: explicacionServicios;
    font-size: large;
  }
  .mainServicios .listaServicios {
    grid-area: listaServicios;
    width: 300px;
    height: auto;
    margin-top: 30px;
    padding-left: 0;
  }
  .mainServicios .buttonServicios {
    grid-area: pideCotiz;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}
/* NOSOTROS RESOLUCION MENOR A 1024px */
/* NOTA: Lo dejé responsive de esa manera hasta 1120px, ya que se quebraba en un punto por el column-reverse de card Vision y se mostraban al revés */
@media screen and (max-width: 1120px) {
  .paddingNosotros {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .paddingNosotros .cardMision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .paddingNosotros .cardMision .textoMision {
    width: 700px;
    height: 180px;
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
  .paddingNosotros .cardMision .imagenMision {
    width: 700px;
    height: 350px;
    object-fit: cover;
  }
  .paddingNosotros .cardVision {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .paddingNosotros .cardVision .imagenVision {
    width: 700px;
    height: 350px;
    object-fit: cover;
  }
  .paddingNosotros .cardVision .textoVision {
    width: 700px;
    height: 190px;
    padding-bottom: 0px;
  }
  .paddingNosotros .cardValores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .paddingNosotros .cardValores .textoValores {
    width: 700px;
    height: 190px;
    margin: 20px;
  }
  .paddingNosotros .cardValores .imagenValores {
    width: 700px;
    height: 350px;
    object-fit: cover;
    margin-top: 40px;
  }
}
/* NOSOTROS RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
  .paddingNosotros {
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .paddingNosotros .cardMision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
  .paddingNosotros .cardMision .textoMision {
    width: 300px;
    height: 180px;
    margin-bottom: 70px;
    padding-top: 10px;
  }
  .paddingNosotros .cardMision .imagenMision {
    margin-top: 90px;
    width: 300px;
    height: 150px;
    object-fit: cover;
  }
  .paddingNosotros .cardVision {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .paddingNosotros .cardVision .textoVision {
    width: 300px;
    height: 190px;
    padding-bottom: 0px;
  }
  .paddingNosotros .cardVision .imagenVision {
    width: 300px;
    height: 150px;
    object-fit: cover;
    margin-top: 60px;
  }
  .paddingNosotros .cardValores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .paddingNosotros .cardValores .textoValores {
    width: 300px;
    height: 190px;
    padding-bottom: 0px;
  }
  .paddingNosotros .cardValores .imagenValores {
    width: 300px;
    height: 150px;
    object-fit: cover;
    margin-top: 160px;
  }
}
/* BLOG RESOLUCION MENOR A 1024px */
@media screen and (max-width: 1024px) {
  .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .blog .cardBlog {
    width: 700px;
    height: auto;
    margin: 20px;
  }
  .blog .cardBlog .imagenBlog {
    width: 700px;
    height: 400px;
    object-fit: cover;
  }
}
/* BLOG RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
  .blog .cardBlog {
    width: 300px;
    height: auto;
  }
  .blog .cardBlog .imagenBlog {
    width: 300px;
    height: 190px;
  }
}
/* CONTACTO RESOLUCION MENOR A 1024PX */
@media screen and (max-width: 1024px) {
  .paddingsContacto {
    padding-top: 150px;
    padding-bottom: 40px;
  }
  .paddingsContacto .nombre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .paddingsContacto .inputNombre {
    width: 390px;
  }
  .paddingsContacto .apellido {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .paddingsContacto .inputApellido {
    width: 390px;
  }
  .paddingsContacto .telefono {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .paddingsContacto .inputTelefono {
    width: 390px;
  }
  .paddingsContacto .correo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .paddingsContacto .inputCorreo {
    width: 400px;
  }
  .paddingsContacto .comentarios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .paddingsContacto .inputComentarios {
    width: 460px;
  }
}
/* CONTACTO RESOLUCION MENOR A 768PX */
@media screen and (max-width: 768px) {
  .paddingsContacto {
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .paddingsContacto .nombre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .paddingsContacto .inputNombre {
    width: 300px;
    margin-bottom: 10px;
  }
  .paddingsContacto .apellido {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .paddingsContacto .inputApellido {
    width: 300px;
    margin-bottom: 10px;
  }
  .paddingsContacto .telefono {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .paddingsContacto .inputTelefono {
    width: 300px;
    margin-bottom: 10px;
  }
  .paddingsContacto .correo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .paddingsContacto .inputCorreo {
    width: 300px;
    margin-bottom: 10px;
  }
  .paddingsContacto .comentarios {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .paddingsContacto .inputComentarios {
    width: 300px;
    margin-bottom: 10px;
  }
}
/* HEADER/NAV (TOGGLER Y LOGO) RESOLUCION MENOR A 1024PX */
@media screen and (max-width: 1024px) {
  .navbar-logo img {
    margin-left: 20px;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    margin-right: 20px;
  }
}
/* HEADER/NAV (TOGGLER Y LOGO) RESOLUCION MENOR A 768PX */
@media screen and (max-width: 768px) {
  .navbar-logo img {
    margin-left: 5px;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    margin-right: 10px;
  }
}
/* FOOTER (TOGGLER Y LOGO) RESOLUCION MENOR A 768PX */
@media screen and (max-width: 768px) {
  .ubicacion {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .rrss {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
