// VARIABLES
@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/extends";

// BASE
@import "base/reset";
@import "base/typography";

// COMPONENTS
@import "components/buttons";

// LAYOUT
@import "layout/header";
@import "layout/main";
@import "layout/footer";

// PAGES
@import "pages/index";
@import "pages/servicios";
@import "pages/nosotros";
@import "pages/blog";
@import "pages/contacto";

// MEDIA QUERIES
@import "mediaqueries/mqindex.scss";
@import "mediaqueries/mqservicios.scss";
@import "mediaqueries/mqnosotros.scss";
@import "mediaqueries/mqblog.scss";
@import "mediaqueries/mqcontacto.scss";
@import "mediaqueries/mqheader";
@import "mediaqueries/mqfooter";