/* BLOG */
.h1Blog {
    @extend %flex;
    padding-top: 150px;
}

.blog {
    @include flex(row, space-around);
    @include paddingstb(0px, 10px);
    margin: 20px;

    .cardBlog {
        @include medidas(320px, auto);
        margin: 20px;

        .imagenBlog {
            @include medidas(320px, 250px);
            border-radius: 10%;
            object-fit: cover;
        }
    }
}