/* BLOG */
.h1Blog {
    @extend %flex;
    padding-top: 150px;
}

.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    @include paddingstb(0px, 10px);
    margin: 20px;

    .cardBlog {
        @include medidas(320px, auto);
        margin: 20px;

        .imagenBlog {
            @include medidas(320px, 250px);
            object-fit: cover;
        }
    }
}