/* INDEX */
.portadaIndex {
    height: 670px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    @include flex(column, center);
    animation-name: miAnimacion;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-delay: 0s;
}

@keyframes miAnimacion {
    0% {
        background-image: url(../img/novios-serpentina-2-foto.png);
    }

    20% {
        background-image: url(../img/novios-caballos-1-foto.jpg);
    }

    40% {
        background-image: url(../img/novios-sentados-foto.jpg);
    }

    60% {
        background-image: url(../img/novios-pastel-foto.png);
    }

    80% {
        background-image: url(../img/sillas-blancas-foto.jpg);
    }

    100% {
        background-image: url(../img/novios-arbustos-foto.png);
    }
}


.descripcionIndex {
    margin-top: 30px;
    @include paddingslr(15px, 15px);

    h2 {
        @extend %caractDescripIndex;
    }

    h3 {
        @extend %caractDescripIndex;
    }

    p {
        @extend %caractDescripIndex;
    }

    .imagenesAbajoIndex {
        @include flex(row, space-around);
        padding-bottom: 25px;

        .fotoIndex1 {
            @include medidas(385px, 300px);
            border-radius: 10%;
            margin-top: 15px;
            object-fit: cover;
        }

        .fotoIndex2 {
            @include medidas(385px, 300px);
            border-radius: 10%;
            margin-top: 15px;
            object-fit: cover;
        }

        .fotoIndex3 {
            @include medidas(385px, 300px);
            border-radius: 10%;
            margin-top: 15px;
            object-fit: cover;
        }
    }
}