/* SERVICIOS */
.mainServicios {
    padding-top: 150px;
    row-gap: 50px;
    column-gap: 30px;
    @include marginslr(30px, 30px);
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 150px 150px 1fr;
    grid-template-areas:
        "portadaServicios explicacionServicios"
        "portadaServicios listaServicios"
        "portadaServicios pideCotiz";
    justify-content: space-evenly;

    .portadaServicios {
        grid-area: portadaServicios;
        padding-bottom: 10px;
        width: 550px;

        .imagenServicios {
            @include medidas(550px, 330px);
            margin-top: 20px;
            object-fit: cover;
            transition: transform 2s;

            &:hover {
                transform: rotatey(360deg);
            }
        }
    }

    .explicacionServicios {
        grid-area: explicacionServicios;
        font-size: x-large;
    }

    .listaServicios {
        grid-area: listaServicios;
        margin-top: 40px;
        padding-left: 0;
    }

    .pideCotiz {
        grid-area: pideCotiz;
        display: flex;
        justify-content: start;
        align-content: center;
        margin-top: 40px;
    }
}

