/* SERVICIOS */
.mainServicios {
    min-height: 100%;
    padding-top: 150px;
    row-gap: 50px;
    column-gap: 30px;
    @include marginslr(30px, 30px);
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-template-rows: 150px 1fr auto;
    grid-template-areas:
        "portadaServicios explicacionServicios"
        "portadaServicios listaServicios"
        "portadaServicios buttonServicios";
    justify-content: space-evenly;

    .portadaServicios {
        grid-area: portadaServicios;
        padding-bottom: 10px;
        width: 550px;

        .imagenServicios {
            @include medidas(550px, 330px);
            border-radius: 10%;
            margin-top: 30px;
            object-fit: cover;
            transition: transform 2s;

            &:hover {
                transform: rotatey(360deg);
            }
        }
    }

    .explicacionServicios {
        grid-area: explicacionServicios;
        font-size: x-large;
    }

    .listaServicios {
        grid-area: listaServicios;
        margin-top: 40px;
        padding-left: 0;
    }

    .buttonServicios {
        grid-area: pideCotiz;
        @include flex(row, start);
        margin-top: 40px;
    }
}

