/* FOOTER */

footer {
    background-color: $color-secundario;
    width: 100%;
    color: $color-primario;
    font-size: small;
    @include paddingstb(20px, 20px);
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .mediosContacto {
        padding-top: 10px;
        padding-left: 0px;
    }

    .ubicacion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: flex-start;
        padding-top: 17px;
    }

    .icono {
        width: 25px;
    }

    .rrss {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        padding-left: 0px;
    } 

    img {
        width: 50px;
        margin: 5px;
        transition: height 3s width 3s;

        &:hover {
            @include medidas (65px, 65px);
        }
    }
}