/* FOOTER */
footer {
    background-color: $color-secundario;
    width: 100%;
    color: $color-primario;
    font-size: small;
    @include paddingstb(20px, 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    .medioscontacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        flex-wrap: wrap;
    }

    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .ubicacion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        flex-wrap: wrap;
    }

    .rrss {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icono {
        width: 25px;
    }

    img {
        width: 50px;
        margin: 5px;
        transition: height 3s width 3s;

        &:hover {
            @include medidas (65px, 65px);
        }
    }
}

/* FOOTER (TOGGLER Y LOGO) RESOLUCION MENOR A 768PX */
@media screen and (max-width: 768px) {
    .ubicacion {
        @include marginstb(10px, 10px);
    }

    .rrss {
    @include marginstb(10px, 10px);
    }
}