/* HEADER/NAVBAR */
nav {
    background-color: $color-secundario;

    .navbar-logo img {
        @include medidas(150px, 100px);
        object-fit: cover;
    }

    .navbar-toggler {
        background-color: $color-primario;
    }

    .nav-link {
        color: $color-primario;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: $color-claro;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }
}