/* BUTTON */
/* NO ME PERMITE CENTRARLO */
.botonIndex {
  @extend %flex;
  color: #1E1E1E;
  background-color: #ECD8B1;
  border: 4px solid #1E1E1E;
  border-radius: 15%;
  width: 200px;
  height: 30px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  transition: height 3s width 3s;

  &:hover {
    width: 120px;
    height: 120px;
  }
}