/* BUTTON */
.button {
  @include flex(row, wrap);
  color: $color-secundario;
  background-color: $color-claro;
  border: $borde-clasico;
  border-radius: 15%;
  @include medidas(200px, 30px);
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  transition: height 3s width 3s;

  &:hover {
    width: 120px;
    height: 120px;
  }
}