/* BUTTON */
.buttonIndex {
  @extend %flex;
  @include marginstb(15px, 15px);

  .botonIndex {
    width: 195px;
    font-family: $font-family;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: $color-claro;
    background-color: #1E1E1E;
  
    &:hover {
      color: $color-secundario;
      background-color: $color-claro;
      border: solid black 2px;
      border-radius: 10px;
    }
  }
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  transition: height 3s width 3s;

  &:hover {
    width: 120px;
    height: 120px;
  }
}

