/* BUTTON WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 80px;
  transition: height 3s width 3s;

  &:hover {
    width: 120px;
    height: 120px;
  }
}

/* BUTTON INDEX */
.buttonIndex {
  @extend %flex;
  @include marginstb(15px, 15px);

  .buttonIndexInterior {
    @extend %flex;
    width: 220px;
    padding: 10px 25px;
    font-family: $font-family;
    border-radius: 15px;
    border: #1E1E1E solid 5px;
    text-decoration: underline;
    color: $color-secundario;
    background-color: $color-claro;
  }

  .buttonIndexInterior:hover {
    border: #1E1E1E solid 5px;
    text-decoration: underline;
    color: $color-primario;
    background-color: $color-secundario;
  }
}

/* BUTTON SERVICIOS */
.buttonServicios {
  @extend %flex;

  .buttonServiciosInterior {
    @extend %flex;
    width: 220px;
    padding: 10px 25px;
    font-family: $font-family;
    border-radius: 15px;
    border: #1E1E1E solid 5px;
    text-decoration: underline;
    color: $color-secundario;
    background-color: $color-claro;
  }

  .buttonServiciosInterior:hover {
    border: #1E1E1E solid 5px;
    text-decoration: underline;
    color: $color-primario;
    background-color: $color-secundario;
  }
 
}

/* BUTTONS CONTACTO */
.botonesForm {
  .botonSubmit {
    width: 120px;
    padding: 0px 25px;
    font-family: $font-family;
    border-radius: 10px;
    border: solid black 4px;
    text-decoration: underline;
    color: $color-secundario;
    background-color: $color-claro;
  }

  .botonSubmit:hover {
    border: #1E1E1E solid 5px;
    text-decoration: underline;
    color: $color-primario;
    background-color: $color-secundario;
  }

  .botonLimpiar {
    width: 120px;
    padding: 0px 25px;
    font-family: $font-family;
    border-radius: 10px;
    border: solid black 4px;
    text-decoration: underline;
    color: $color-secundario;
    background-color: $color-claro;
  }

  .botonLimpiar:hover {
    border: #1E1E1E solid 5px;
    text-decoration: underline;
    color: $color-primario;
    background-color: $color-secundario;
  }
}