/* BLOG RESOLUCION MENOR A 1024px */
@media screen and (max-width: 1024px) {
    .blog {
        @include flex(column, center);
        padding-bottom: 10px;

        .cardBlog {
            @include medidas(700px, auto);
            margin: 20px;

            .imagenBlog {
                @include medidas(700px, 400px);
                object-fit: cover;
            }
        }
    }
}

/* BLOG RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
    .blog {
        @include flex(row, center);

        .cardBlog {
            @include medidas(300px, auto);

            .imagenBlog {
                @include medidas(300px, 190px);
            }
        }
    }
}