/* NOSOTROS RESOLUCION MENOR A 1024px */
/* NOTA: Lo dejé responsive de esa manera hasta 1120px, ya que se quebraba en un punto por el column-reverse de card Vision y se mostraban al revés */
@media screen and (max-width: 1120px) {
    .paddingNosotros {
        padding-top: 30px;
        margin-bottom: 30px;

        .cardMision {
            @include flex(column, center);
            margin-bottom: 20px;

            .textoMision {
                @include medidas(700px, 180px);
                padding-bottom: 0px;
                margin-bottom: 20px;
            }

            .imagenMision {
                @include medidas(700px, 350px);
                object-fit: cover;
            }
        }

        .cardVision {
            @include flex(column-reverse, center);
            margin-bottom: 20px;

            .imagenVision {
                @include medidas(700px, 350px);
                object-fit: cover;
            }

            .textoVision {
                @include medidas(700px, 190px);
                padding-bottom: 0px;
            }
        }

        .cardValores {
            @include flex(column, center);
            margin-bottom: 40px;
            margin-top: 40px;

            .textoValores {
                @include medidas(700px, 190px);
                margin: 20px;

            }

            .imagenValores {
                @include medidas(700px, 350px);
                object-fit: cover;
                margin-top: 40px;
            }
        }
    }
}

/* NOSOTROS RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
    .paddingNosotros {
        padding-top: 30px;
        margin-bottom: 30px;

        .cardMision {
            @include flex(column, center);
            margin-bottom: 0px;

            .textoMision {
                @include medidas(300px, 180px);
                margin-bottom: 70px;
                padding-top: 10px;
            }

            .imagenMision {
                margin-top: 80px;
                @include medidas(300px, 150px);
                object-fit: cover;
            }
        }

        .cardVision {
            @include flex(column-reverse, center);
            margin-bottom: 20px;

            .textoVision {
                @include medidas(300px, 190px);
                padding-bottom: 0px;
            }

            .imagenVision {
                @include medidas(300px, 150px);
                object-fit: cover;
                margin-top: 60px;
            }
        }

        .cardValores {
            @include flex(column, center);
            margin-bottom: 20px;

            .textoValores {
                @include medidas(300px, 190px);
                padding-bottom: 0px;
            }

            .imagenValores {
                @include medidas(300px, 150px);
                object-fit: cover;
                margin-top: 190px;
            }
        }
    }
}