/* SERVICIOS RESOLUCION MENOR A 1024px */
@media screen and (max-width: 1024px) {
    .mainServicios {
        padding-top: 140px;
        row-gap: 50px;
        column-gap: 30px;
        @include marginslr(0px, 0px);
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 140px 150px 0px;
        grid-template-areas:
            "portadaServicios"
            "explicacionServicios"
            "listaServicios"
            "pideCotiz";
        justify-content: space-around;

        .portadaServicios {
            grid-area: portadaServicios;
            padding-bottom: 10px;
            @include medidas(700px, auto);

            .imagenServicios {
                @include medidas(700px, 450px);
                margin-top: 20px;
                object-fit: cover;
                transition: transform 2s;

                &:hover {
                    transform: rotatey(360deg);
                }
            }
        }

        .explicacionServicios {
            grid-area: explicacionServicios;
            @include medidas(700px, auto);
            font-size: x-large;
        }

        .listaServicios {
            grid-area: listaServicios;
            @include medidas(700px, auto);
            margin-top: 40px;
            padding-left: 0;
        }

        .pideCotiz {
            grid-area: pideCotiz;
            @include flex(row, wrap);
            margin-top: 40px;
            color: black;
        }
    }
}

/* SERVICIOS RESOLUCION MENOR A 768px */
@media screen and (max-width: 768px) {
    .mainServicios {
        padding-top: 140px;
        row-gap: 50px;
        column-gap: 30px;
        @include marginstb(0, 0);
        @include marginslr(30px, 30px);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 320px 240px 120px 1fr;
        grid-template-areas:
            "portadaServicios"
            "explicacionServicios"
            "listaServicios"
            "pideCotiz";
        justify-content: space-around;

        .portadaServicios {
            grid-area: portadaServicios;
            padding-bottom: 10px;
            width: 300px;

            .imagenServicios {
                @include medidas(300px, 200px);
                margin-top: 15px;
                object-fit: cover;
                transition: transform 2s;

                &:hover {
                    transform: rotatey(360deg);
                }
            }
        }

        .explicacionServicios {
            @include medidas(300px, auto);
            grid-area: explicacionServicios;
            font-size: large;
        }

        .listaServicios {
            grid-area: listaServicios;
            @include medidas(300px, auto);
            margin-top: 30px;
            padding-left: 0;
        }

        .pideCotiz {
            grid-area: pideCotiz;
            @include flex(row, wrap);
            margin-top: 30px;
        }
    }
}